* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

section,
div {
    overflow: hidden;
    overflow-wrap: normal;
}
